<xf:if is="$xf.visitor.canViewDailyStatistics() && $xf.options.svDailyStatistics_showInForumStatisticsWidget">
	<xf:if is="$forumStatistics.svDailyStatistics.latestUsers is not empty">
		<xf:macro name="stat_block"
				  arg-label="{{ phrase('svDailyStatistics_new_members_today') }}"
				  arg-count="{$forumStatistics.svDailyStatistics.latestUsers.today}" />
	</xf:if>

	<xf:if is="$forumStatistics.svDailyStatistics.threads is not empty">
		<xf:macro name="stat_block"
				  arg-label="{{ phrase('svDailyStatistics_new_threads_today') }}"
				  arg-count="{$forumStatistics.svDailyStatistics.threads.today}" />
	</xf:if>

	<xf:if is="$forumStatistics.svDailyStatistics.posts is not empty">
		<xf:macro name="stat_block"
				  arg-label="{{ phrase('svDailyStatistics_new_posts_today') }}"
				  arg-count="{$forumStatistics.svDailyStatistics.posts.today}" />
	</xf:if>

	<xf:if is="$forumStatistics.svDailyStatistics.resource is not empty">
		<xf:macro name="stat_block"
				  arg-label="{{ phrase('svDailyStatistics_new_resourcess_today') }}"
				  arg-count="{$forumStatistics.svDailyStatistics.resources.today}" />
	</xf:if>

	<xf:if is="$forumStatistics.svDailyStatistics.mediaItems is not empty">
		<xf:macro name="stat_block"
				  arg-label="{{ phrase('svDailyStatistics_new_media_items_today') }}"
				  arg-count="{$forumStatistics.svDailyStatistics.mediaItems.today}" />
	</xf:if>
</xf:if>

<xf:macro name="stat_block" arg-label="!" arg-count="!" arg-pairClass="">
	<dl class="pairs pairs--justified {$pairClass}">
		<dt>{{ $label }}</dt>
		<dd>{$count|number}</dd>
	</dl>
</xf:macro>