<xf:if is="is_addon_active('SV/DailyStatistics') && $xf.options.svDailyStatistics_showInForumStatisticsWidget">
	<xf:set var="$extendedStatistics" value="{{ $xf.app.em.getRepository('XF:Counters').getExtendedStatistics(true) }}"/>
    <xf:foreach loop="$extendedStatistics" key="$phraseKey" value="$stats">
        <dl class="pairs pairs--justified {$pairClass}">
            <dt>{{ phrase_dynamic('svDailyStatistics_new_today.'.$phraseKey) }}</dt>
            <dd>{$stats.today|number}</dd>
        </dl>
    </xf:foreach>
</xf:if>